@model RoleDto

@{
    ViewData["Title"] = "Rol Oluşturma";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-4 offset-4 mt-5">
	<h6 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h6>
</div>


<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4">

			<form asp-action="Create" asp-controller="Role" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="RoleName" class="control-label">Rol Adı</label>
					<input asp-for="RoleName" class="form-control" />
					<span asp-validation-for="RoleName" class="text-danger"></span>

				</div>
				<div class="form-group mt-4 mx-auto">
					<button type="submit" class="btn btn-primary">Rol Oluştur</button>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {

	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}

